[project]
	description = Trusted side of the TEE
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pascal Brand (pascal-brand-st)
[access "refs/for/refs/*"]
	read = group user/Pascal Brand (pascal-brand-st)
	push = group user/Pascal Brand (pascal-brand-st)
	label-Code-Review = -2..+2 group user/Pascal Brand (pascal-brand-st)
	label-Verified = -1..+1 group user/Pascal Brand (pascal-brand-st)
	rebase = group user/Pascal Brand (pascal-brand-st)
	removeReviewer = group user/Pascal Brand (pascal-brand-st)
	submit = group user/Pascal Brand (pascal-brand-st)
[access "refs/heads/*"]
	read = group user/Pascal Brand (pascal-brand-st)
	create = group user/Pascal Brand (pascal-brand-st)
	push = +force group user/Pascal Brand (pascal-brand-st)
	pushMerge = group user/Pascal Brand (pascal-brand-st)
[access "refs/tags/*"]
	push = +force group user/Pascal Brand (pascal-brand-st)
	pushTag = group user/Pascal Brand (pascal-brand-st)
	pushSignedTag = group user/Pascal Brand (pascal-brand-st)
